

/*Productos*/
.productos {
    display: grid;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    grid-template-areas:
      "nav nav nav nav"
      "header header header header"
      "main main main main"
      "final final final final"
      "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    font-family: "Quicksand", sans-serif;
  
    nav {
      grid-area: nav;
    }
    .header {
      grid-area: header;
      background-color: $negro;
      h1{
        text-align: center;
        padding: 5%;
        background-color: $negro;
        color: $blanco;
      }
    }
    main {
      grid-area: main;
      padding: 5%;
      .qrs {
        display: flex;
        justify-content: space-around;
        .card{
          margin: 2%;
        }
      }
  
    }
    .final {
      grid-area: final;
      padding: 5%;
      background-color: $negro;
      color: $blanco;
      h2{
        text-align: center;
        padding: 5%;
      }
    }
    .footer {
      grid-area: footer;
      color: $blanco;
      .copyright {
        color: $blanco;
        background-color: $negro;
      }
    }
  }