

/*Trabajo*/
.trabajo {
  display: grid;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "final final final final"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  font-family: "Quicksand", sans-serif;

  nav {
    grid-area: nav;
  }
  .header {
    grid-area: header;
    background-color: $negro;
    h1{
      padding: 5%;
      text-align: center;
      background-color: $negro;
      color: $blanco;
    }
  }
  main {
    grid-area: main;
    text-align: center;
    padding: 5%;
    section {
      display: flex;
      justify-content: space-around;
    }
  }
  .final {
    grid-area: final;
  }
  .footer {
    grid-area: footer;
    color: $blanco;
    .copyright {
      color: $blanco;
      background-color: $negro;
    }
  }
}